{% extends "base.html" %}

{% block body %}
<div class="content-section">
	<p><a href="http://fx0-downloads.hellco.net">This is an open directory containing all these files.</a></p>
	<table class="download-table">
		<tr><th>Recovery Partitions</th><th colspan="2">Download</th><th></th></tr>
		<tr><td>TWRP 302</td><td><a href="http://fx0-downloads.hellco.net/twrp_302-madai01.img">Local</a></td><td><a href="https://drive.google.com/open?id=0B8LczLPMs6nnemc2TUd3NEg1RmM">Remote</a></td></tr>
		<tr><th>Operating Systems</th><th></th><th></th></tr>
		<tr><td>Cyanogenmod 11 b4</td><td><a href="http://fx0-downloads.hellco.net/2016-10-24--10-34-55_cm_madai-userdebug_4.4.4_KTU84Q_050009c84b.zip">Local</a></td><td><a href="https://drive.google.com/file/d/0B8LczLPMs6nnSng1NDFXMXg3Tmc/view">Remote</a></td></tr>
		<tr><td>Cyanogenmod 11 b3</td><td><a href="http://fx0-downloads.hellco.net/cm-11-20160710-UNOFFICIAL-madai.zip">Local</a></td><td><a href="https://drive.google.com/file/d/0B8LczLPMs6nnM2xXaFJhSkZ4MG8/view?usp=sharing">Remote</a></td></tr>
		<tr><td>Cyanogenmod 11 b1</td><td><a href="http://fx0-downloads.hellco.net/cm11_b1-madai-20160625.zip">Local</a></td><td><a href="https://drive.google.com/open?id=0B8LczLPMs6nnRkhTc1Q5RnZPX0k">Remote</a></td></tr>
		<!-- <tr><td>Firefox OS 2.6</td><td><a href="downloads/">Local</a></td></tr> -->
		<tr><td>Firefox OS 2.0 Japanese Variant</td><td><a href="http://fx0-downloads.hellco.net/jp-variant.zip">Local</a></td><td><a href="https://drive.google.com/file/d/0B8LczLPMs6nnLWZlNmVrYXVRaG8/view?usp=sharing">Remote</a></td></tr>
		<tr><th>Misc</th><th></th><th></th></tr>
		<tr><td>Wallpapers</td><td><a href="http://fx0-downloads.hellco.net/fx0-jp-wallpapers.zip">Local</a><td><a href="https://drive.google.com/open?id=0B8LczLPMs6nnUHVsR2RuRFJLVlk">Remote</a></td></td></tr>
		<tr><td>Windows USB Drivers</td><td><a href="http://fx0-downloads.hellco.net/LGMobileDriver_WHQL_Ver_4.0.3.exe">Local</a></td><td><a href="http://tool.xcdn.gdms.lge.com/dn/downloader.dev?fileKey=STsdtJ29465255122905102/LGMobileDriver_WHQL_Ver_4.0.3.exe">Remote</a></td></tr>
		<tr><th>Manuals</th><th></th><th></th></tr>
		<tr><td>Basic Manual</td><td><a href="http://fx0-downloads.hellco.net/lgl25_basic_e.pdf">Local</a></td><td><a href="http://media.kddi.com/app/publish/torisetsu/pdf/lgl25_basic_e.pdf">Remote</a></td></tr>
		<tr><td>Service Manual</td><td><a href="http://fx0-downloads.hellco.net/LG-L25_SVC_ENG_V0.9_141208.pdf">Local</a></td><td><a href="https://drive.google.com/file/d/0B8LczLPMs6nnTnFnS21jN2hHVUU/view?usp=sharing">Remote</a></td></tr>
	</table>
</div>
{% endblock %}